.tweet{
    display: flex;
    border-bottom: 1px solid #e6ecf0;
    margin-bottom: 2px;
    padding: 10px 15px;
}

.tweet__main-home{
    font-size: 20px;
    font-weight: 700;
}

.tweet a {
    color: #1b94e0;
    text-decoration: none;
}

.tweet:hover{
    background: rgba(0,0,0,0.05);
    cursor: pointer;
}
.tweet a:hover{
    text-decoration: underline;
}

.tweet__status-upload-img{
    width: 25px;
    padding: 5px;
    margin-bottom: -50px;
}

.tweet__status-button{
    border: 1px solid #1da0f2;
    color: #1da0f2;
    font-size: 15px;
    font-weight: 600;
    border-radius:15px ;
    padding: 5px;
    width: 80px;
    text-align: center;
    margin-left: 380px;
    margin-bottom: 10px;
}

.tweet__status-button:hover{
    background:#1da0f2;
    color: #e6ecf0;
    cursor:pointer;
}

.tweet__author-logo{
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-right: 10px;
}

.tweet__friends-logo{
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-right: 10px;
}

.tweet__header {
    display: flex;
}

.tweet__author-name {
    font-size: 15px;
    font-weight: 700;
    color: #14171a;
    margin-right: 5px;
}

.tweet__author-slug {
    color: #5b7083;
    font-size: 15px;
}

.tweet__publish-time {
    margin-left: 5px;
    color: #657786;
}

.tweet__image{
    width: 100%;
    border-radius: 15px;
    margin-top: 10px;
}

.tweet__status{
    color: #5b7083;
    margin-top: 10px;
    margin-left: 25px;
}